<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gggroup.com.baron">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".paper.PaperOnBoardingActivity"></activity>
        <activity
            android:name=".authentication.signin.SignInActivity"
            android:theme="@style/TransparentThemeAuthentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.signup.SignUpActivity"
            android:theme="@style/TransparentThemeAuthentication"></activity>
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/TransparentTheme"></activity>
        <activity android:name=".filter.FilterActivity"></activity>
        <activity android:name=".posts.ListPostActivity"></activity>
        <activity android:name=".user.profile.ProfileDetailActivity"></activity>
        <activity android:name=".detail.DetailActivity" />
        <activity android:name=".user.update.UpdateInfoActivity" />
        <activity android:name=".user.info.UserInfoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".user.password.ChangePasswordActivity"
            android:label="Thay đổi mật khẩu"
           android:theme="@style/Base.Theme.AppCompat.Light.Dialog" >

        </activity>
    </application>

</manifest>